<%- include("../partials/header") %>


<div class="row mt-5 jumbotron" >
    <div class="col-sm-12" style="text-align:center;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators"  data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators"  data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators"  data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" ">
              <div class="carousel-item active">
                <img class="rounded mx-auto d-block" style="height:287px ;" src="images/pdCorpImages/3_core_240_sq_mm_2XWY_33000_VOLTS-1.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="rounded mx-auto d-block"  style="height:287px ;" src="images/pdCorpImages/4-Core-LT-Armoured-Flexible-Copper-Cable-1.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="rounded mx-auto d-block"  style="height:287px ;" src="images/pdCorpImages/XLPE-FRLS-3core-x-2.png" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div> 
 
</div>



    <div class="row mt-5" >
        <div class="col-sm-12 bg-secondary">
            <div class="container mt-2" style="text-align: center;">
                <!-- Team Member Image -->
               
    
                <div class="container member-details">
                    <img class="img-fluid img-thumbnail"  src="images/pdCorpImages/Beautiful-Building-Wallpaper-HD.jpeg" ></img>
                </div>
            </div>
        </div>
      
    </div>


    <div class="row">
        
        <div class="col-sm-12 bg-secondary">
            <div style="text-align: center;">
                <!-- Team Member Image -->
                <a class="team-image" >
                    <div class="mt-2 member-details-inner">
                        <h4 class="member-name light">REVOLUTIONS BEGIN WITH A SPARK</h4>
                    </div>               
                </a>
    
                <div class="container member-details">
                    <p>Connections facilitate communication. The industrial space of India has grown in leaps and bounds and efficient technology is in demand. New systems and business models that have the ability to cater to all strata of society are the need of the hour.<br>
                        <b style="font-weight: bold;">PD Corporation</b> has always strived to have at the forefront of its policy a unique customer approach and top-notch quality.<br>
                        We have set our sights on bringing about a paradigm shift in the way power and<br>
                        connectivity are perceived. Our expertise extends to the construction industry, the telecom sector, water plants, fire, security, power, communication, transport and many others.<br>
                        As we embrace every niche and space right from government sectors to private<br>
                        organisations and have even transcended borders to establish our services overseas, we are committed to assuring you only the best. We are dedicated, ethical and operate according to set principles.<br>
                        Join us in our mission to broaden the horizon of the technological space, and bring about innovative strategies.</p>
                </div>
            </div>
        </div>
    
        
    
    </div>




<div class="row mt-5">
    <div class="col-sm-12 bg-light">
        <div class="container jumbotron mr-auto" style="text-align: center;">
            <h2>INDUSTRIES WE CATER </h2>
            
            
            <div class="row mt-5" >
                <div class="col-sm-4 bg-light">
                    <div  style="text-align: center;">
                        <!-- Team Member Image -->
                        <a class="team-image">
                            <p><b>Building Construction & HVAC</b></p>
                        </a>
                        <div class="container mb-3">
                            <img class="img-fluid img-thumbnail" src="images/pdCorpImages/Building-Construction-HVAC-scaled.jpeg" ></img>
                        </div>

                    </div>
                    
                </div>
                <div class="col-sm-4 bg-light"">
                    <div  style="text-align: center;">
                        <!-- Team Member Image -->
                        <a class="team-image">
                            <p><b>Communication & Telecom</b></p>
                        </a>
                        <div class="container mb-3">
                            <img class="img-fluid img-thumbnail" src="images/pdCorpImages/Communication-Telecom-scaled.jpeg" ></img>
                        </div>

                    </div>
                    
                </div>
                <div class="col-sm-4 bg-light"">
                    <div  style="text-align: center;">
                        <!-- Team Member Image -->
                        <a class="team-image">
                            <p><b>Switchgear & Panel Wiring</b></p>
                        </a>
                        <div class="container mb-3">
                            <img class="img-fluid img-thumbnail" src="images/pdCorpImages/Switchgear-Panel-Wiring-scaled.jpeg" ></img>
                        </div>

                    </div>
                    
                </div>
            </div>


            <div class="row mt-5" >
                <div class="col-sm-4 bg-light"">
                    <div  style="text-align: center;">
                        <!-- Team Member Image -->
                        <a class="team-image">
                            <p><b>Distribution & Power Networks</b></p>
                        </a>
                        <div class="container mb-3">
                            <img class="img-fluid img-thumbnail" src="images/pdCorpImages/Transmission-Distribution-Power-Networks-scaled.jpeg" ></img>
                        </div>

                    </div>
                    
                </div>
                <div class="col-sm-4 bg-light">
                    <div  style="text-align: center;">
                        <!-- Team Member Image -->
                        <a class="team-image">
                            <p><b>Water Treatment</b></p>
                        </a>
                        <div class="container mb-3">
                            <img class="img-fluid img-thumbnail" src="images/pdCorpImages/Water-Treatment-scaled.jpeg" ></img>
                        </div>

                    </div>
                    
                </div>
                <div class="col-sm-4 bg-light"">
                    <div  style="text-align: center;">
                        <!-- Team Member Image -->
                        <a class="team-image">
                            <p><b>Fire & Security</b></p>
                        </a>
                        <div class="container mb-3">
                            <img class="img-fluid img-thumbnail" src="images/pdCorpImages/Fire-Security-scaled.jpeg" ></img>
                        </div>

                    </div>
                    
                </div>
            </div>


            
          
            
        
        </div>
        
    </div>
</div>



<div class="row">
        
    <div class="col-sm-12 bg-secondary">
        <div style="text-align: center;">
            <!-- Team Member Image -->
            <a class="team-image" >
                <div class="member-details-inner">
                    <h4 class="member-name light">AN INSIGHT INTO OUR VENTURE</h4>
                </div>               
            </a>

            <div class="container member-details">
                <p>
                    As part of the booming connectivity scene, we are a step ahead of the advancements owing to some of the best experts being part of our team. New product lines are emerging as we speak, and power and network strengths are being strengthened so as to reach the remotest areas of the country.<br>
                    We are founded on the principles of trust and growth. The human capital as well as our resources that go into building cable networks, all are of supreme quality. This enables us to deliver services that are par excellence.<br>
                    We are engaged in XLPE cables, HT cable, Co-axial cable, FR and FRLS house wires, CCTV cables, telecommunication cables, speaker cables and many more.<br>
                    Whatever your needs, we provide.<br>
                    Together let us be a part of the revolution of tomorrow.

                </p>
            </div>
        </div>
    </div>

    

</div>


<div class="container mt-5" style="text-align: center;">


<div class="wpb_wrapper"><h2 class="boc_heading center boc_animate_when_almost_visible boc_left-to-right boc_start_animation" style="margin-bottom: 50px;margin-top: 0px;color: #333333;"><span>Cables in which we deal</span></h2><div class="vc_row wpb_row vc_inner vc_row-fluid boc_animate_when_almost_visible boc_bottom-to-top vc_custom_1609829545767 vc_column-gap-15 vc_row-o-equal-height vc_row-flex boc_start_animation"><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px">
<svg xmlns="http://www.w3.org/2000/svg" style="fill:#0000fe;margin:0 10px 0 15px" height="50px" viewBox="0 -38 512.00096 512" width="50px"><path d="m81.953125 92.097656c2.558594 0 5.117187-.976562 7.070313-2.929687.007812-.003907.035156-.03125.058593-.054688 3.902344-3.851562 3.976563-10.136719.148438-14.082031-3.847657-3.960938-10.179688-4.058594-14.144531-.210938-.042969.042969-.171876.167969-.214844.214844-3.894532 3.90625-3.894532 10.230469.007812 14.132813 1.957032 1.957031 4.515625 2.929687 7.074219 2.929687zm0 0"></path><path d="m509.84375 222.769531c-7.332031-55.710937-33.160156-108.179687-72.722656-147.742187-48.382813-48.382813-112.703125-75.027344-181.121094-75.027344-53.46875 0-104.660156 16.277344-148.042969 47.070312-4.503906 3.199219-5.5625 9.441407-2.367187 13.945313 3.195312 4.503906 9.4375 5.5625 13.945312 2.367187 3.226563-2.289062 6.5-4.484374 9.816406-6.597656l24.875 43.085938c-10.71875 7.011718-20.796874 15.171875-30.0625 24.4375-9.179687 9.179687-17.339843 19.289062-24.378906 30.09375l-43.085937-24.871094c4.492187-7.085938 9.363281-13.941406 14.613281-20.53125 3.4375-4.320312 2.726562-10.613281-1.59375-14.054688-4.324219-3.441406-10.613281-2.726562-14.054688 1.589844-28.910156 36.300782-47.414062 79.949219-53.507812 126.230469-7.308594 55.503906 4.097656 112.792969 32.101562 161.296875 5.949219 10.355469 15.574219 17.769531 27.101563 20.882812 3.878906 1.050782 7.816406 1.566407 11.730469 1.566407 7.714844 0 15.332031-2.015625 22.199218-5.960938 10.355469-5.953125 17.769532-15.574219 20.882813-27.101562 3.113281-11.53125 1.554687-23.578125-4.40625-33.949219-18.5-32.046875-25.726563-68.402344-20.890625-105.136719 4.808594-36.523437 21.210938-69.6875 47.433594-95.910156 31.4375-31.4375 73.234375-48.746094 117.691406-48.746094 44.460938 0 86.261719 17.308594 117.695312 48.746094 26.222657 26.21875 42.621094 59.386719 47.433594 95.910156 2.3125 17.574219 1.859375 35.0625-1.265625 52.039063l-103.328125-39.085938c-1.882812-12.992187-7.867187-25.019531-17.261718-34.414062-23.851563-23.851563-62.660157-23.851563-86.511719 0-23.851563 23.851562-23.851563 62.664062 0 86.515625 11.925781 11.925781 27.589843 17.886719 43.253906 17.886719 15.667969 0 31.332031-5.960938 43.257813-17.890626 1.6875-1.683593 3.269531-3.46875 4.746093-5.332031l109 17.808594c-3.382812 9.484375-7.652343 18.71875-12.792969 27.625-12.277343 21.375-4.882812 48.753906 16.488282 61.03125 10.351562 5.953125 22.402344 7.511719 33.929687 4.398437 11.527344-3.113281 21.152344-10.53125 27.089844-20.863281 28.011719-48.519531 39.417969-105.8125 32.109375-161.3125zm-415.410156 126.714844c3.285156 5.722656 4.148437 12.378906 2.429687 18.75-1.722656 6.367187-5.820312 11.6875-11.539062 14.972656-5.722657 3.289063-12.378907 4.152344-18.75 2.433594-6.367188-1.722656-11.6875-5.820313-14.984375-11.558594-19.304688-33.4375-29.929688-70.160156-31.457032-107.933593h49.617188c1.597656 29.199218 10.015625 57.933593 24.683594 83.335937zm-23.386719-117.730469c-.632813 4.785156-1.0625 9.585938-1.316406 14.390625h-49.558594c.304687-6.90625.902344-13.828125 1.816406-20.765625 3.632813-27.582031 12.046875-54.140625 24.730469-78.511718l43.054688 24.855468c-9.5625 18.769532-15.972657 39.105469-18.726563 60.03125zm155.855469 53.519532c-16.050782-16.050782-16.050782-42.171876 0-58.222657 16.054687-16.054687 42.171875-16.050781 58.226562 0 3.367188 3.367188 6.078125 7.238281 8.074219 11.445313l-28.527344-10.792969c-7.066406-2.671875-14.8125-2.171875-21.8125 1.417969-7.570312 3.878906-13.410156 11.109375-15.613281 19.335937-2.203125 8.222657-.761719 17.398438 3.855469 24.546875 4.269531 6.605469 10.722656 10.917969 18.179687 12.136719l30.089844 4.914063c-16.03125 11.058593-38.214844 9.472656-52.472656-4.78125zm74.1875-11.9375c-.027344-.003907-.054688-.007813-.082032-.015626l-48.496093-7.921874c-2.316407-.378907-3.78125-1.976563-4.605469-3.246094-1.578125-2.445313-2.089844-5.710938-1.335938-8.523438.753907-2.8125 2.828126-5.382812 5.417969-6.710937.894531-.457031 2.109375-.898438 3.46875-.898438.683594 0 1.40625.113281 2.140625.390625l45.832032 17.335938c.09375.039062.191406.074218.289062.109375l46.109375 17.441406zm-35.089844-203.363282v-49.746094c35.132812 1.453126 68.886719 10.558594 99.351562 26.511719l-24.882812 43.101563c-22.949219-11.683594-48.203125-18.488282-74.46875-19.867188zm-119.34375-23.222656c30.625-16.046875 64.359375-25.085938 99.34375-26.535156v49.757812c-26.265625 1.378906-51.519531 8.183594-74.46875 19.867188zm211.117188 53.121094 24.890624-43.109375c14.414063 9.195312 27.933594 20.027343 40.3125 32.40625 12.375 12.375 23.195313 25.886719 32.382813 40.328125l-43.140625 24.910156c-7.039062-10.808594-15.203125-20.917969-24.382812-30.097656-9.265626-9.265625-19.34375-17.425782-30.0625-24.4375zm64.453124 71.851562 43.140626-24.90625c12.628906 24.234375 20.976562 50.679688 24.648437 78.5625.910156 6.933594 1.507813 13.859375 1.816406 20.765625h-49.558593c-.253907-4.804687-.6875-9.605469-1.316407-14.390625-2.753906-20.925781-9.164062-41.261718-18.730469-60.03125zm38.171876 202.375c-3.285157 5.722656-8.605469 9.820313-14.972657 11.539063-6.367187 1.71875-13.027343.859375-18.746093-2.429688-11.808594-6.785156-15.898438-21.914062-9.121094-33.703125 6.300781-10.914062 11.445312-22.441406 15.394531-34.355468l12.1875 1.992187c.546875.089844 1.085937.132813 1.621094.132813 4.453125 0 8.464843-2.984376 9.652343-7.414063 1.332032-4.964844-1.316406-10.125-6.121093-11.945313l-11.578125-4.375c1.84375-9.027343 3.03125-18.183593 3.539062-27.390624h49.613282c-1.527344 37.777343-12.152344 74.5-31.46875 107.949218zm0 0"></path><path d="m316.007812 354.496094h-120.015624c-5.523438 0-10 4.476562-10 10v32.003906c0 5.523438 4.476562 10 10 10h120.015624c5.523438 0 10.003907-4.476562 10.003907-10v-32.003906c0-5.523438-4.480469-10-10.003907-10zm-10 32.003906h-100.011718v-12.003906h100.011718zm0 0"></path><path d="m108.175781 246.144531c-5.523437 0-10 4.476563-10 10 0 5.523438 4.476563 10 10 10h.238281c5.523438 0 10-4.476562 10-10 0-5.523437-4.476562-10-10-10zm0 0"></path><path d="m190.882812 123.335938-.117187-.207032c-2.765625-4.78125-8.882813-6.421875-13.664063-3.65625-4.78125 2.761719-6.421874 8.878906-3.65625 13.664063l.117188.203125c1.851562 3.207031 5.214844 5 8.667969 5 1.699219 0 3.417969-.433594 4.992187-1.339844 4.785156-2.765625 6.421875-8.878906 3.660156-13.664062zm0 0"></path><path d="m329.800781 138.359375c3.457031 0 6.816407-1.792969 8.667969-5l.117188-.207031c2.765624-4.78125 1.125-10.898438-3.65625-13.664063-4.78125-2.761719-10.898438-1.125-13.664063 3.660157l-.117187.207031c-2.761719 4.78125-1.125 10.898437 3.660156 13.660156 1.574218.910156 3.292968 1.34375 4.992187 1.34375zm0 0"></path><path d="m403.824219 266.179688c5.523437 0 10-4.476563 10-10 0-5.523438-4.476563-10.003907-10-10.003907h-.234375c-5.523438 0-10.003906 4.480469-10.003906 10.003907 0 5.523437 4.480468 10 10.003906 10zm0 0"></path><path d="m221.230469 416.503906h-.234375c-5.523438 0-10 4.476563-10 10 0 5.523438 4.476562 10 10 10h.234375c5.523437 0 10.003906-4.476562 10.003906-10 0-5.523437-4.480469-10-10.003906-10zm0 0"></path><path d="m291.007812 416.503906h-41.042968c-5.519532 0-10 4.480469-10 10.003906 0 5.523438 4.480468 10 10 10h41.042968c5.519532 0 10-4.476562 10-10 0-5.523437-4.476562-10.003906-10-10.003906zm0 0"></path></svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">High Tension Cables</h3>
</div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg height="50px" style="fill:#0000fe;margin:0 10px 0 15px" viewBox="0 -37 511.99867 511" width="50px" xmlns="http://www.w3.org/2000/svg"><path d="m81.964844 92.5625c2.570312 0 5.144531-.980469 7.105468-2.941406 3.933594-3.875 3.980469-10.207032.105469-14.140625-3.878906-3.9375-10.210937-3.984375-14.144531-.109375-.023438.023437-.113281.113281-.136719.136718l-.015625.019532c-3.90625 3.902344-3.882812 10.214844.023438 14.121094 1.949218 1.945312 4.503906 2.914062 7.0625 2.914062zm0 0"></path><path d="m509.84375 223.265625c-7.335938-55.710937-33.164062-108.179687-72.726562-147.742187-48.378907-48.378907-112.703126-75.023438-181.117188-75.023438-53.46875 0-104.664062 16.277344-148.046875 47.070312-4.5 3.195313-5.5625 9.441407-2.363281 13.945313 3.195312 4.503906 9.441406 5.5625 13.941406 2.363281 3.226562-2.289062 6.503906-4.480468 9.820312-6.59375l24.875 43.085938c-10.71875 7.011718-20.796874 15.167968-30.0625 24.4375-9.179687 9.179687-17.339843 19.285156-24.382812 30.09375l-43.082031-24.871094c4.492187-7.085938 9.363281-13.941406 14.609375-20.53125 3.441406-4.320312 2.730468-10.613281-1.589844-14.054688-4.320312-3.441406-10.613281-2.730468-14.054688 1.589844-28.910156 36.300782-47.414062 79.949219-53.507812 126.230469-7.308594 55.503906 4.097656 112.792969 32.101562 161.296875 8.257813 14.371094 23.339844 22.421875 38.832032 22.421875 7.550781 0 15.199218-1.910156 22.199218-5.933594 10.351563-5.949219 17.769532-15.574219 20.882813-27.105469 3.113281-11.527343 1.550781-23.574218-4.40625-33.945312-18.503906-32.046875-25.726563-68.402344-20.890625-105.136719 4.808594-36.523437 21.210938-69.6875 47.433594-95.910156 31.433594-31.4375 73.230468-48.746094 117.691406-48.746094 10.238281 0 20.332031.929688 30.191406 2.722657l-39.035156 103.195312c-12.988281 1.886719-25.019531 7.871094-34.414062 17.261719-11.554688 11.554687-17.917969 26.917969-17.917969 43.257812 0 16.339844 6.363281 31.703125 17.921875 43.253907 11.925781 11.925781 27.589844 17.890624 43.253906 17.890624s31.332031-5.964843 43.257812-17.890624c11.554688-11.554688 17.917969-26.914063 17.917969-43.253907 0-16.339843-6.363281-31.703125-17.917969-43.257812-1.6875-1.6875-3.472656-3.269531-5.335937-4.746094l17.796875-108.921875c23.046875 8.164062 44.175781 21.429688 61.976562 39.230469 26.222657 26.222656 42.621094 59.390625 47.429688 95.910156 4.835938 36.734375-2.386719 73.09375-20.898438 105.15625-12.28125 21.371094-4.886718 48.75 16.484376 61.03125 7.003906 4.023437 14.652343 5.9375 22.203124 5.9375 15.488282 0 30.570313-8.046875 38.820313-22.40625 28.011719-48.519531 39.414063-105.808594 32.109375-161.3125zm-415.414062 126.71875c3.289062 5.71875 4.152343 12.378906 2.429687 18.746094-1.71875 6.371093-5.816406 11.691406-11.539063 14.976562-11.808593 6.785157-26.933593 2.699219-33.730468-9.125-19.308594-33.441406-29.933594-70.160156-31.460938-107.933593h49.617188c1.601562 29.199218 10.019531 57.933593 24.683594 83.335937zm-23.386719-117.730469c-.628907 4.78125-1.0625 9.582032-1.316407 14.390625h-49.558593c.308593-6.90625.90625-13.832031 1.816406-20.765625 3.632813-27.582031 12.046875-54.144531 24.734375-78.515625l43.050781 24.859375c-9.5625 18.769532-15.972656 39.105469-18.726562 60.03125zm202.128906-20.683594c-.003906.027344-.011719.058594-.015625.089844l-7.921875 48.492188c-.378906 2.3125-1.976563 3.78125-3.246094 4.601562-2.445312 1.578125-5.710937 2.089844-8.519531 1.335938-2.816406-.753906-5.386719-2.828125-6.710938-5.417969-.691406-1.347656-1.339843-3.414063-.511718-5.609375l17.375-45.929688c.011718-.03125.023437-.0625.039062-.097656l17.476563-46.203125zm24 45.074219c0 10.996094-4.285156 21.335938-12.058594 29.113281-16.054687 16.050782-42.171875 16.050782-58.226562 0-7.777344-7.777343-12.058594-18.117187-12.058594-29.113281 0-10.996093 4.28125-21.335937 12.058594-29.113281 3.367187-3.363281 7.242187-6.078125 11.445312-8.074219l-10.792969 28.53125c-2.671874 7.0625-2.167968 14.808594 1.417969 21.808594 3.882813 7.574219 11.109375 13.410156 19.335938 15.613281 2.535156.683594 5.160156 1.015625 7.792969 1.015625 5.894531 0 11.8125-1.675781 16.753906-4.867187 6.605468-4.269532 10.917968-10.726563 12.132812-18.179688l4.921875-30.105468c4.722657 6.820312 7.277344 14.898437 7.277344 23.371093zm-150.519531-209.398437c30.625-16.046875 64.359375-25.082032 99.34375-26.53125v49.757812c-26.261719 1.378906-51.515625 8.179688-74.464844 19.863282zm163.042968 9c-4.964843-1.328125-10.125 1.316406-11.945312 6.121094l-4.375 11.566406c-8.960938-1.8125-18.105469-2.972656-27.375-3.460938v-49.75c35.128906 1.457032 68.886719 10.558594 99.351562 26.515625l-24.882812 43.097657c-8.21875-4.183594-16.730469-7.746094-25.480469-10.652344l1.988281-12.164063c.828126-5.070312-2.320312-9.941406-7.28125-11.273437zm48.078126 44.125 24.890624-43.113282c14.410157 9.199219 27.929688 20.027344 40.3125 32.410157 12.371094 12.375 23.191407 25.882812 32.382813 40.328125l-43.140625 24.90625c-7.042969-10.808594-15.203125-20.917969-24.382812-30.09375-9.265626-9.265625-19.347657-17.425782-30.0625-24.4375zm64.453124 71.851562 43.136719-24.90625c12.628907 24.234375 20.976563 50.679688 24.648438 78.5625.914062 6.933594 1.511719 13.859375 1.816406 20.765625h-49.558594c-.25-4.804687-.683593-9.605469-1.316406-14.390625-2.753906-20.925781-9.164063-41.261718-18.726563-60.03125zm38.171876 202.375c-6.785157 11.808594-21.914063 15.894532-33.722657 9.109375-11.808593-6.785156-15.894531-21.914062-9.117187-33.707031 14.671875-25.414062 23.089844-54.152344 24.691406-83.355469h49.617188c-1.527344 37.777344-12.15625 74.503907-31.46875 107.953125zm0 0"></path><path d="m316.007812 354.992188h-120.015624c-5.523438 0-10.003907 4.480468-10.003907 10.003906v32.003906c0 5.523438 4.480469 10 10.003907 10h120.015624c5.523438 0 10-4.476562 10-10v-32.003906c0-5.523438-4.476562-10.003906-10-10.003906zm-10 32.003906h-100.015624v-12h100.015624zm0 0"></path><path d="m108.175781 246.640625c-5.523437 0-10.003906 4.476563-10.003906 10.003906 0 5.523438 4.480469 10 10.003906 10h.234375c5.523438 0 10.003906-4.476562 10.003906-10 0-5.527343-4.480468-10.003906-10.003906-10.003906zm0 0"></path><path d="m190.878906 123.835938-.117187-.207032c-2.761719-4.78125-8.878907-6.417968-13.664063-3.65625-4.78125 2.761719-6.417968 8.878906-3.65625 13.660156l.117188.207032c1.851562 3.207031 5.214844 5 8.667968 5 1.699219 0 3.417969-.433594 4.996094-1.34375 4.78125-2.761719 6.421875-8.878906 3.65625-13.660156zm0 0"></path><path d="m334.929688 119.988281c-4.785157-2.761719-10.902344-1.125-13.664063 3.660157l-.117187.203124c-2.761719 4.785157-1.125 10.898438 3.65625 13.664063 1.578124.910156 3.296874 1.34375 4.992187 1.34375 3.457031 0 6.820313-1.796875 8.671875-5.003906l.117188-.203125c2.761718-4.785156 1.125-10.898438-3.65625-13.664063zm0 0"></path><path d="m403.585938 266.679688h.234374c5.523438 0 10.003907-4.476563 10.003907-10 0-5.527344-4.480469-10.003907-10.003907-10.003907h-.234374c-5.523438 0-10 4.476563-10 10.003907 0 5.523437 4.476562 10 10 10zm0 0"></path><path d="m221.230469 417h-.238281c-5.523438 0-10 4.480469-10 10.003906 0 5.523438 4.476562 10 10 10h.238281c5.523437 0 10-4.476562 10-10 0-5.523437-4.476563-10.003906-10-10.003906zm0 0"></path><path d="m291.003906 417.003906h-41.039062c-5.523438 0-10.003906 4.476563-10.003906 10 0 5.523438 4.480468 10.003906 10.003906 10.003906h41.039062c5.523438 0 10-4.480468 10-10.003906 0-5.523437-4.476562-10-10-10zm0 0"></path></svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">Medium Tension Cables</h3>
</div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg height="50px" style="fill:#0000fe;margin:0 10px 0 15px" viewBox="0 -38 512.00017 512" width="50px" xmlns="http://www.w3.org/2000/svg"><path d="m81.953125 92.097656c2.558594 0 5.117187-.976562 7.070313-2.929687l.101562-.097657c3.90625-3.90625 3.90625-10.242187 0-14.148437-3.90625-3.902344-10.238281-3.902344-14.144531 0-.007813.011719-.066407.070313-.078125.078125l-.023438.023438c-3.902344 3.90625-3.902344 10.238281.003906 14.144531 1.953126 1.953125 4.511719 2.929687 7.070313 2.929687zm0 0"></path><path d="m509.84375 222.769531c-7.335938-55.710937-33.160156-108.179687-72.722656-147.742187-48.382813-48.382813-112.703125-75.027344-181.121094-75.027344-53.46875 0-104.660156 16.277344-148.042969 47.070312-4.503906 3.195313-5.566406 9.441407-2.367187 13.945313 3.195312 4.503906 9.4375 5.5625 13.945312 2.367187 3.222656-2.292968 6.5-4.484374 9.816406-6.597656l24.875 43.085938c-10.714843 7.011718-20.796874 15.171875-30.0625 24.4375-9.179687 9.179687-17.339843 19.285156-24.382812 30.09375l-43.082031-24.871094c4.492187-7.085938 9.363281-13.941406 14.609375-20.53125 3.441406-4.320312 2.730468-10.613281-1.589844-14.054688-4.320312-3.441406-10.613281-2.730468-14.054688 1.589844-28.910156 36.300782-47.414062 79.949219-53.507812 126.230469-7.308594 55.503906 4.097656 112.792969 32.101562 161.296875 12.28125 21.371094 39.660157 28.769531 61.03125 16.484375 21.371094-12.277344 28.765626-39.65625 16.476563-61.046875-18.503906-32.046875-25.726563-68.40625-20.890625-105.136719.371094-2.828125.824219-5.632812 1.332031-8.417969l103.261719 39.058594c1.882812 12.988282 7.867188 25.019532 17.257812 34.414063 11.554688 11.554687 26.917969 17.917969 43.257813 17.917969s31.703125-6.363282 43.253906-17.917969c23.851563-23.855469 23.851563-62.664063 0-86.515625-11.554687-11.554688-26.914062-17.917969-43.253906-17.917969s-31.703125 6.363281-43.257813 17.917969c-1.683593 1.6875-3.269531 3.472656-4.746093 5.339844l-108.972657-17.804688c8.191407-23.117188 21.472657-44.15625 39.300782-61.984375 31.433594-31.433594 73.234375-48.746094 117.691406-48.746094 44.460938 0 86.257812 17.3125 117.691406 48.746094 26.222656 26.222656 42.625 59.386719 47.433594 95.910156 4.835938 36.734375-2.386719 73.089844-20.898438 105.15625-12.28125 21.371094-4.886718 48.75 16.484376 61.03125 7.003906 4.023438 14.652343 5.9375 22.199218 5.9375 15.492188 0 30.570313-8.050781 38.820313-22.40625 28.015625-48.519531 39.421875-105.808593 32.113281-161.3125zm-253.859375-7.78125c10.996094 0 21.335937 4.285157 29.113281 12.0625 16.050782 16.050781 16.050782 42.167969 0 58.222657-7.777344 7.777343-18.117187 12.058593-29.113281 12.058593s-21.335937-4.28125-29.113281-12.058593c-3.363282-3.367188-6.078125-7.238282-8.074219-11.445313l28.527344 10.792969c2.992187 1.132812 6.105469 1.695312 9.234375 1.695312 4.257812 0 8.542968-1.042968 12.578125-3.113281 7.574219-3.882813 13.410156-11.109375 15.613281-19.335937 2.203125-8.222657.761719-17.398438-3.855469-24.546876-4.265625-6.605468-10.722656-10.917968-18.179687-12.136718l-30.101563-4.917969c6.820313-4.722656 14.898438-7.277344 23.371094-7.277344zm-45.066406 24c.023437.007813.046875.011719.070312.015625l48.503907 7.921875c2.3125.378907 3.777343 1.976563 4.601562 3.246094 1.578125 2.441406 2.089844 5.707031 1.335938 8.519531-.753907 2.816406-2.828126 5.386719-5.414063 6.710938-1.347656.691406-3.414063 1.339844-5.609375.511718l-45.96875-17.386718c-.007812-.003906-.019531-.007813-.027344-.011719l-46.234375-17.488281zm-116.484375 110.496094c6.785156 11.808594 2.699218 26.9375-9.109375 33.722656-11.808594 6.789063-26.9375 2.703125-33.734375-9.125-19.304688-33.4375-29.929688-70.160156-31.457032-107.933593h49.613282c1.601562 29.199218 10.019531 57.933593 24.6875 83.335937zm-32.726563-135.074219 11.535157 4.363282c-.882813 4.292968-1.625 8.625-2.199219 12.980468-.628907 4.78125-1.0625 9.582032-1.3125 14.390625h-49.558594c.304687-6.902343.902344-13.832031 1.816406-20.765625 3.632813-27.582031 12.042969-54.140625 24.730469-78.511718l43.054688 24.855468c-4.1875 8.214844-7.765626 16.726563-10.699219 25.457032l-12.214844-1.996094c-5.066406-.828125-9.945313 2.320312-11.273437 7.28125-1.328126 4.964844 1.316406 10.125 6.121093 11.945312zm204.292969-144.4375v-49.746094c35.132812 1.453126 68.886719 10.558594 99.355469 26.511719l-24.886719 43.101563c-22.949219-11.6875-48.203125-18.488282-74.46875-19.867188zm-119.347656-23.222656c30.625-16.046875 64.359375-25.085938 99.347656-26.53125v49.757812c-26.265625 1.378907-51.519531 8.179688-74.46875 19.863282zm211.121094 53.121094 24.890624-43.109375c14.414063 9.195312 27.929688 20.027343 40.3125 32.40625 12.371094 12.375 23.191407 25.886719 32.382813 40.328125l-43.140625 24.910156c-7.042969-10.808594-15.203125-20.917969-24.382812-30.097656-9.265626-9.265625-19.34375-17.425782-30.0625-24.4375zm64.453124 71.851562 43.136719-24.902344c12.632813 24.230469 20.976563 50.675782 24.648438 78.558594.914062 6.933594 1.511719 13.859375 1.816406 20.765625h-49.558594c-.25-4.804687-.683593-9.609375-1.3125-14.390625-2.753906-20.925781-9.164062-41.261718-18.730469-60.03125zm38.175782 202.375c-6.789063 11.8125-21.917969 15.894532-33.726563 9.109375-11.808593-6.785156-15.894531-21.914062-9.117187-33.707031 14.671875-25.414062 23.09375-54.152344 24.695312-83.355469h49.613282c-1.527344 37.777344-12.152344 74.503907-31.464844 107.953125zm0 0"></path><path d="m316.007812 354.496094h-120.015624c-5.523438 0-10 4.476562-10 10v32.003906c0 5.523438 4.476562 10 10 10h120.015624c5.523438 0 10.003907-4.476562 10.003907-10v-32.003906c0-5.523438-4.480469-10-10.003907-10zm-10 32.003906h-100.015624v-12.003906h100.015624zm0 0"></path><path d="m108.175781 246.140625c-5.523437 0-10 4.480469-10 10.003906 0 5.523438 4.476563 10 10 10h.234375c5.527344 0 10.003906-4.476562 10.003906-10 0-5.523437-4.476562-10.003906-10.003906-10.003906zm0 0"></path><path d="m177.109375 119.46875c-4.785156 2.757812-6.429687 8.871094-3.671875 13.65625l.117188.207031c1.851562 3.210938 5.21875 5.007813 8.675781 5.007813 1.695312 0 3.410156-.429688 4.984375-1.335938 4.785156-2.757812 6.429687-8.875 3.671875-13.660156l-.117188-.203125c-2.757812-4.789063-8.875-6.429687-13.660156-3.671875zm0 0"></path><path d="m334.917969 119.484375c-4.789063-2.761719-10.898438-1.113281-13.65625 3.671875l-.117188.207031c-2.757812 4.785157-1.113281 10.898438 3.671875 13.65625 1.574219.90625 3.289063 1.339844 4.980469 1.339844 3.460937 0 6.824219-1.796875 8.675781-5.011719l.121094-.207031c2.757812-4.785156 1.109375-10.898437-3.675781-13.65625zm0 0"></path><path d="m403.585938 266.179688h.238281c5.519531 0 10-4.476563 10-10 0-5.523438-4.480469-10.003907-10-10.003907h-.238281c-5.523438 0-10 4.480469-10 10.003907 0 5.523437 4.476562 10 10 10zm0 0"></path><path d="m291.007812 416.503906h-41.042968c-5.523438 0-10 4.480469-10 10.003906 0 5.519532 4.476562 10 10 10h41.042968c5.519532 0 10-4.480468 10-10 0-5.523437-4.480468-10.003906-10-10.003906zm0 0"></path><path d="m221.230469 416.5h-.234375c-5.523438 0-10.003906 4.480469-10.003906 10.003906 0 5.523438 4.480468 10 10.003906 10h.234375c5.523437 0 10-4.476562 10-10 0-5.523437-4.476563-10.003906-10-10.003906zm0 0"></path></svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">Low Tension Cables</h3>
</div>
		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid boc_animate_when_almost_visible boc_bottom-to-top vc_custom_1609828192706 vc_column-gap-25 vc_row-o-equal-height vc_row-flex boc_start_animation"><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg id="Layer_5" style="fill:#0000fe;margin:0 10px 0 15px" enable-background="new 0 0 64 64" height="50px" viewBox="0 0 64 64" width="50px" xmlns="http://www.w3.org/2000/svg"><g><path d="m32 13c-10.477 0-19 8.523-19 19s8.523 19 19 19 19-8.523 19-19-8.523-19-19-19zm0 36c-9.374 0-17-7.626-17-17s7.626-17 17-17 17 7.626 17 17-7.626 17-17 17z"></path><path d="m32 17c-8.271 0-15 6.729-15 15s6.729 15 15 15 15-6.729 15-15-6.729-15-15-15zm0 28c-7.168 0-13-5.832-13-13s5.832-13 13-13 13 5.832 13 13-5.832 13-13 13z"></path><path d="m32 9c-12.683 0-23 10.318-23 23s10.317 23 23 23 23-10.318 23-23-10.317-23-23-23zm0 44c-11.579 0-21-9.42-21-21s9.421-21 21-21 21 9.42 21 21-9.421 21-21 21z"></path><path d="m32 5c-14.888 0-27 12.112-27 27s12.112 27 27 27 27-12.112 27-27-12.112-27-27-27zm0 52c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25z"></path><path d="m32 1c-17.094 0-31 13.907-31 31v23c0 1.858 1.279 3.411 3 3.858v4.142h2v-4.142c1.721-.447 3-2 3-3.858v-2.24c5.677 6.284 13.885 10.24 23 10.24s17.323-3.956 23-10.24v2.24c0 1.858 1.279 3.411 3 3.858v4.142h2v-4.142c1.721-.447 3-2 3-3.858v-23c0-17.093-13.906-31-31-31zm-25 54c0 1.103-.897 2-2 2s-2-.897-2-2v-12.059c1.001 2.644 2.353 5.117 4 7.361zm25 6c-15.99 0-29-13.009-29-29s13.01-29 29-29 29 13.009 29 29-13.01 29-29 29zm29-6c0 1.103-.897 2-2 2s-2-.897-2-2v-4.698c1.647-2.244 2.999-4.716 4-7.361z"></path></g></svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">Flexible Cables</h3>
</div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" style="fill:#0000fe;margin:0 10px 0 15px" x="0px" y="0px" viewBox="0 0 512.001 512.001" xml:space="preserve"> <g> <g> <g> <path d="M331.498,93.023c-1.625-2.312-4.094-3.891-6.875-4.383l-10.5-1.852l9.25-52.523c1.031-5.805-2.844-11.336-8.656-12.359 c-5.781-1.023-11.328,2.852-12.344,8.656l-9.266,52.523l-5.109-0.906v-7.516c0-5.891-4.781-10.664-10.656-10.664h-10.68V10.664 C266.662,4.773,261.889,0,255.999,0c-5.891,0-10.664,4.773-10.664,10.664V64h-10.672c-5.891,0-10.664,4.773-10.664,10.664v7.516 l-5.109,0.906l-9.258-52.523c-1.023-5.805-6.562-9.68-12.359-8.656c-5.805,1.023-9.68,6.555-8.656,12.359l9.266,52.523 l-10.508,1.852c-2.781,0.492-5.258,2.07-6.883,4.383c-1.625,2.32-2.258,5.188-1.766,7.977l19.945,113.109 c-3.914,1.586-6.672,5.414-6.672,9.883v266.664c0,0.5,0.039,1.016,0.109,1.516c0.469,3.297,2.906,9.484,13.93,13.766 c10.336,4.031,27.148,6.062,49.961,6.062c22.812,0,39.624-2.031,49.968-6.062c11.016-4.281,13.453-10.469,13.922-13.766 c0.078-0.5,0.109-1.016,0.109-1.516V223.992c0-4.469-2.75-8.297-6.672-9.883L333.279,101 C333.764,98.211,333.123,95.344,331.498,93.023z M245.335,85.328h21.327v138.508c-3.25,0.102-6.789,0.156-10.663,0.156 c-3.875,0-7.414-0.055-10.664-0.156V85.328z M201.585,107.797l21.008-3.703l1.406,7.968v109.992 c-0.828-0.125-1.609-0.258-2.336-0.398L201.585,107.797z M298.654,485.906c-4.062,1.688-15.203,4.75-42.655,4.75 c-27.453,0-38.602-3.062-42.664-4.75V241.68c10.227,2.422,24.516,3.648,42.664,3.648c18.155,0,32.437-1.227,42.655-3.648V485.906 z M290.342,221.656c-0.734,0.141-1.516,0.273-2.344,0.398V112.062l1.406-7.968l21,3.703L290.342,221.656z"></path> <path d="M234.663,255.992c-5.891,0-10.664,4.781-10.664,10.672v203.117c0,5.875,4.773,10.656,10.664,10.656 c5.891,0,10.672-4.781,10.672-10.656V266.664C245.335,260.773,240.554,255.992,234.663,255.992z"></path> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">House Wires</h3>
</div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg id="Layer_1" enable-background="new 0 0 512 512" height="50px" style="fill:#0000fe;margin:0 10px 0 15px" viewBox="0 0 512 512" width="50px" xmlns="http://www.w3.org/2000/svg"><path d="m508.141 56.928c-7.114-6.23-18.056-13.722-33.477-18.946 7.921-4.154 8.1-15.713-.025-19.951-6.661-3.478-14.248-6.519-18.448-7.396-25.117-5.241-49.824 10.159-56.435 34.619l-.211-2.333c-.57-6.316-5.779-11.258-12.117-11.496l-95.526-3.575c-.179-.008-.352-.01-.524-.01-7.428 0-13.259 6.405-12.584 13.775l.395 4.373-72.906 6.585c-19.867 1.789-37.01 14.324-44.728 32.685l-24.971 58.733c-1-.209-2.388-.538-4.409-.538-7.174 0-13.606 4.275-16.387 10.891l-19.892 47.313c-1.605 3.819.188 8.216 4.008 9.821 3.814 1.601 8.215-.189 9.82-4.007l19.892-47.315c.509-1.209 1.796-1.923 3.133-1.644 15.831 3.306 26.188 5.469 41.006 8.563 1.69.353 2.68 2.168 1.995 3.801l-90.506 215.303c-.51 1.21-1.843 1.912-3.133 1.643-17.756-3.708-34.554-7.216-41.016-8.566-1.455-.304-2.217-1.6-2.217-2.724 0-.847-3.194 7.052 59.22-141.407 1.605-3.818-.189-8.215-4.008-9.82-3.816-1.606-8.215.188-9.82 4.008l-58.996 140.328c-3.289 7.815-.591 16.672 6.236 21.459l-15.733 36.987c-1.191 2.834-1.796 5.82-1.796 8.874 0 6.434 2.669 12.4 7.144 16.64l-20.234 37.743c-1.957 3.651-.584 8.197 3.066 10.154 3.644 1.953 8.194.589 10.154-3.066l20.713-38.636c.69.063 1.383.1 2.076.1 9.252 0 17.547-5.514 21.122-14.018l18.652-43.867c2.454.513 3.808.872 6.01.872 7.175 0 13.607-4.275 16.387-10.891l34.135-81.202 42.107-13.173c4.44-1.388 7.749-5.086 8.636-9.652l12.573-64.681c1.337-6.868-3.184-13.402-9.823-14.789l-9.645-2.014 12.523-29.79c.926-2.202 1.395-4.519 1.395-6.888 0-6.483-3.575-12.322-8.991-15.429l21.832-51.33c1.135-2.705 3.657-4.549 6.589-4.81l72.909-6.585.397 4.399v.004c.694 7.638 7.839 12.826 15.267 11.214l93.42-20.256c4.956-1.075 8.736-5.057 9.709-9.897 8.089 18.525 26.239 28.627 40.888 28.627 6.2 0 13.676-1.45 22.634-4.376 7.904-2.581 10.401-12.546 4.642-18.525-1.644-1.708-3.077-3.38-4.301-4.926 8.299-1.538 20.732-3 33.243-1.349 11.044 1.448 17.289-12.318 8.931-19.636zm-463.934 383.108c-3.358 7.988-15.225 5.492-15.225-3.076 0-2.241-.749.167 16.921-41.377l15.801 3.3zm137.148-217.336-11.862 61.018-28.68 8.972 30.319-72.125zm27.704-139.408c-8.477.758-15.788 6.102-19.063 13.914l-22.633 53.212-15.807-3.301 23.816-56.018c5.573-13.258 17.934-22.296 32.26-23.586l72.906-6.585 1.424 15.78zm89.347 8.745-3.601-39.902c-.001-.009 0-.018-.001-.027s-.003-.018-.004-.027l-.825-9.144 90.818 3.399 2.388 26.451zm153.151-26.151c-4.407 1.361-6.554 6.353-4.508 10.49.136.273 2.841 5.681 8.4 12.375-8.51 2.279-13.305 2.224-15.922 1.675-17.95-3.749-29.504-21.403-25.755-39.352 3.75-17.949 21.401-29.503 39.353-25.755 1.274.266 3.58 1.054 6.322 2.178-7.807 3.339-11.732 6.95-12.272 7.469-4.497 4.317-2.047 11.941 4.121 12.833 16.067 2.323 28.194 7.565 36.97 13.033-19.655-.149-35.889 4.8-36.709 5.054z"></path></svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">Rubber &amp; Welding Cable</h3>
</div>
		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid boc_animate_when_almost_visible boc_bottom-to-top vc_custom_1609828198110 vc_column-gap-25 vc_row-o-equal-height vc_row-flex boc_start_animation"><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 480 480" style="fill:#0000fe;margin:0 10px 0 15px" xml:space="preserve"> <g> <g> <path d="M472,24H8c-4.418,0-8,3.582-8,8v416c0,4.418,3.582,8,8,8h464c4.418,0,8-3.582,8-8V32C480,27.582,476.418,24,472,24z M464,440H16V40h448V440z"></path> </g> </g> <g> <g> <path d="M72,96v224h64v32h48v32h112v-32h48v-32h64V96H72z M392,304h-64v32h-48v32h-80v-32h-48v-32H88V112h16v72h16v-72h16v72h16 v-72h16v72h16v-72h16v72h16v-72h16v72h16v-72h16v72h16v-72h16v72h16v-72h16v72h16v-72h16v72h16v-72h16V304z"></path> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">LAN Cables</h3>
</div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg height="50px" style="fill:#0000fe;margin:0 10px 0 15px" viewBox="0 0 511.99989 511" width="50px" xmlns="http://www.w3.org/2000/svg"><path d="m510.628906 229.679688c-6.046875-58.136719-32.1875-112.960938-73.597656-154.375-48.238281-48.238282-112.527344-74.804688-181.023438-74.804688-68.5 0-132.789062 26.566406-181.027343 74.804688-48.351563 48.355468-74.980469 112.644531-74.980469 181.023437 0 68.382813 26.628906 132.671875 74.984375 181.023437 48.351563 48.355469 112.640625 74.984376 181.023437 74.984376 4.199219 0 7.601563-3.40625 7.601563-7.605469s-3.402344-7.601563-7.601563-7.601563c-64.320312 0-124.789062-25.046875-170.269531-70.53125-45.480469-45.480468-70.53125-105.949218-70.53125-170.269531 0-64.316406 25.046875-124.789063 70.527344-170.269531 45.367187-45.367188 105.835937-70.351563 170.273437-70.351563 64.433594 0 124.902344 24.984375 170.269532 70.351563 38.949218 38.953125 63.535156 90.515625 69.226562 145.195312 5.609375 53.90625-7.214844 108.628906-36.117187 154.089844-6.078125 9.5625-15.996094 15.753906-27.214844 16.988281-8.542969.941407-16.960937-1.121093-23.992187-5.710937l17.363281-17.367188c10.339843-10.339844 10.339843-27.164062 0-37.5l-6.6875-6.691406c-2.972657-2.96875-7.785157-2.96875-10.753907 0-2.972656 2.96875-2.972656 7.78125 0 10.753906l6.6875 6.691406c4.410157 4.410157 4.410157 11.585938 0 15.992188l-14.347656 14.351562-67.5-67.5 14.355469-14.351562c4.40625-4.410156 11.582031-4.410156 15.992187-.003906l19.472657 19.476562c2.96875 2.972656 7.78125 2.972656 10.753906.003906 2.96875-2.972656 2.96875-7.785156 0-10.753906l-19.472656-19.476562c-10.339844-10.339844-27.164063-10.339844-37.503907 0l-25.683593 25.683594c-10.304688 10.304687-27.078125 10.304687-37.382813 0l-77.066406-77.066407c-4.992188-4.992187-7.742188-11.632812-7.742188-18.695312 0-7.058594 2.75-13.699219 7.738282-18.6875l5.882812-5.882813c.023438-.023437.050782-.042968.074219-.070312.027344-.023438.046875-.050782.070313-.074219l19.660156-19.660156c10.335937-10.339844 10.335937-27.160157 0-37.5l-51.511719-51.503907c-10.339844-10.335937-27.160156-10.335937-37.5 0l-19.695313 19.699219c-.011718.007813-.023437.019531-.035156.027344-.011718.015625-.023437.03125-.039062.046875-22.320313 22.339844-34.613282 52.027344-34.613282 83.609375 0 31.601563 12.308594 61.3125 34.65625 83.65625l26.453126 26.449219c2.96875 2.972656 7.78125 2.972656 10.75 0 2.972656-2.96875 2.972656-7.78125 0-10.75l-26.449219-26.453125c-19.472657-19.46875-30.199219-45.359375-30.199219-72.898438 0-24.988281 8.832031-48.621093 25.015625-67.332031l67.304687 67.304688-.574218.574218c-16.238282 16.238282-16.238282 42.65625 0 58.894532l77.066406 77.066406c8.117188 8.121094 18.78125 12.179687 29.445312 12.179687 10.664063-.003906 21.328126-4.058593 29.441407-12.175781l.582031-.582031 67.292969 67.292969c-11.261719 9.710937-24.519531 16.925781-38.757813 21.019531-9.398437 2.699219-18.980468 4.011719-28.492187 4.011719-26.996094 0-53.371094-10.597657-72.96875-30.203126l-72.851563-72.847656c-2.96875-2.96875-7.785156-2.96875-10.753906 0s-2.96875 7.78125 0 10.753906l72.851562 72.847657c22.492188 22.5 52.746094 34.660156 83.726563 34.660156 10.90625 0 21.910156-1.511719 32.6875-4.605469 15.238281-4.378906 29.496094-11.871094 41.824219-21.886718 10.527344 8.042968 23.699218 11.777343 37.089844 10.304687 15.828124-1.742187 29.820312-10.46875 38.386718-23.949219 30.730469-48.34375 44.371094-106.523437 38.40625-163.824218zm-381.144531-117.785157 14.351563-14.351562c4.410156-4.410157 11.582031-4.410157 15.992187 0l51.507813 51.5c4.410156 4.410156 4.410156 11.585937 0 15.996093l-14.351563 14.351563zm0 0"></path><path d="m277.921875 174.269531c29.960937 0 54.335937 24.375 54.335937 54.335938 0 4.199219 3.402344 7.605469 7.601563 7.605469s7.605469-3.40625 7.605469-7.605469c0-38.347657-31.199219-69.542969-69.542969-69.542969-4.199219 0-7.605469 3.402344-7.605469 7.601562 0 4.203126 3.40625 7.605469 7.605469 7.605469zm0 0"></path><path d="m277.921875 136.101562c51.007813 0 92.503906 41.496094 92.503906 92.503907 0 4.199219 3.402344 7.605469 7.601563 7.605469 4.199218 0 7.605468-3.40625 7.605468-7.605469 0-59.394531-48.320312-107.710938-107.710937-107.710938-4.199219 0-7.605469 3.402344-7.605469 7.605469 0 4.199219 3.40625 7.601562 7.605469 7.601562zm0 0"></path><path d="m277.921875 98.324219c71.835937 0 130.28125 58.441406 130.28125 130.28125 0 4.199219 3.40625 7.605469 7.605469 7.605469 4.199218 0 7.601562-3.40625 7.601562-7.605469 0-80.222657-65.265625-145.488281-145.488281-145.488281-4.199219 0-7.605469 3.402343-7.605469 7.601562s3.40625 7.605469 7.605469 7.605469zm0 0"></path></svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">Telephone &amp; JFTC Cables</h3>
</div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;">
<svg xmlns="http://www.w3.org/2000/svg" width="50px" style="fill:#0000fe;margin:0 10px 0 15px" height="50px" viewBox="0 0 128 128"><g><path d="M127.125,55.9l-78-45.031A9.762,9.762,0,0,0,35.81,14.436L26.83,29.989,20.852,40.342a9.763,9.763,0,0,0,3.57,13.319L51.165,69.1l-4.159,7.092a6.275,6.275,0,0,1-5.392,3.089H26v-11.9a1.75,1.75,0,0,0-1.75-1.75h-9.5V63.373A7.759,7.759,0,0,0,7,55.623H1.75A1.749,1.749,0,0,0,0,57.373V116.69a1.749,1.749,0,0,0,1.75,1.75H7a7.759,7.759,0,0,0,7.75-7.75v-5.559h9.5a1.75,1.75,0,0,0,1.75-1.75v-8.6H41.614A21.834,21.834,0,0,0,60.376,84.036l4.213-7.184,14.659,8.463a9.7,9.7,0,0,0,4.858,1.31,9.8,9.8,0,0,0,2.54-.336A9.689,9.689,0,0,0,90.881,83.9,14.579,14.579,0,0,0,97,85.254a14.813,14.813,0,0,0,3.836-.508,14.614,14.614,0,0,0,7.971-5.4l3.584,2.069a1.749,1.749,0,0,0,2.391-.641l12.98-22.481A1.751,1.751,0,0,0,127.125,55.9ZM11.25,110.69A4.254,4.254,0,0,1,7,114.94H3.5V59.123H7a4.254,4.254,0,0,1,4.25,4.25V110.69Zm11.25-9.059H14.75v-32.5H22.5v32.5ZM57.356,82.265a18.318,18.318,0,0,1-15.742,9.017H26v-8.5H41.614a9.788,9.788,0,0,0,8.411-4.818L54.2,70.852l7.362,4.25ZM81,82.284,26.172,50.63a6.257,6.257,0,0,1-2.288-8.538l5.1-8.837,50.247,29.01,15.405,8.894L89.535,80l-.007.011a6.176,6.176,0,0,1-.441.65l0,.007A6.256,6.256,0,0,1,81,82.284Zm18.937-.919A11.155,11.155,0,0,1,93,81l4.673-8.093,8.093,4.672A11.155,11.155,0,0,1,99.935,81.365Zm12.695-3.86-11.317-6.534L97.9,69,59.263,46.694,30.736,30.224l8.105-14.038A6.257,6.257,0,0,1,47.379,13.9l76.48,44.157Z"></path><path d="M105.154,67.993a6.689,6.689,0,0,0,3.355.905,6.775,6.775,0,0,0,1.752-.232,6.73,6.73,0,1,0-5.107-.673Zm.569-7.443a3.211,3.211,0,0,1,1.961-1.5,3.264,3.264,0,0,1,.84-.111,3.233,3.233,0,1,1-2.8,1.616Z"></path><path d="M45.5,50.27,31.16,41.989a1.75,1.75,0,1,0-1.75,3.031L43.754,53.3A1.75,1.75,0,0,0,45.5,50.27Z"></path></g></svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">Screened Flexible Cables</h3>
</div>
		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid boc_animate_when_almost_visible boc_bottom-to-top vc_custom_1609828202969 vc_column-gap-25 vc_row-o-equal-height vc_row-flex boc_start_animation"><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div style="display:flex;align-items:center;justify-content:start;margin-bottom:15px;display:none;">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 479.997 479.997" style="fill:#0000fe;margin:0 10px 0 15px" width="50px" height="50px" xml:space="preserve"> <g> <g> <path d="M477.654,394.342l-48-48c-1.18-1.179-2.699-1.959-4.344-2.232l-45.472-7.584l-96.528-96.528l96.528-96.528l45.472-7.584 c1.645-0.273,3.164-1.053,4.344-2.232l48-48c3.123-3.124,3.123-8.188,0-11.312l-72-72c-3.124-3.123-8.188-3.123-11.312,0l-48,48 c-1.177,1.178-1.957,2.694-2.232,4.336l-7.584,45.48l-96.528,96.528l-96.528-96.528l-7.584-45.48 c-0.275-1.642-1.055-3.158-2.232-4.336l-48-48c-3.124-3.123-8.188-3.123-11.312,0l-72,72c-3.123,3.124-3.123,8.188,0,11.312l48,48 c1.18,1.179,2.699,1.959,4.344,2.232l45.472,7.584l96.528,96.528l-96.528,96.528l-45.472,7.584 c-1.645,0.273-3.164,1.053-4.344,2.232l-48,48c-3.123,3.124-3.123,8.188,0,11.312l72,72c3.124,3.123,8.188,3.123,11.312,0l48-48 c1.177-1.178,1.957-2.694,2.232-4.336l7.584-45.48l96.528-96.528l96.528,96.528l7.584,45.48c0.275,1.642,1.055,3.158,2.232,4.336 l48,48c3.124,3.123,8.188,3.123,11.312,0l72-72C480.777,402.53,480.777,397.466,477.654,394.342z M399.998,19.31l60.688,60.688 l-36.688,36.688L363.31,55.998L399.998,19.31z M19.31,79.998L79.998,19.31l36.688,36.688l-60.688,60.688L19.31,79.998z M79.998,460.686L19.31,399.998l36.688-36.688l60.688,60.688L79.998,460.686z M351.886,374.678 c-0.275-1.642-1.055-3.158-2.232-4.336l-104-104c-3.124-3.123-8.188-3.123-11.312,0l-104,104 c-1.177,1.178-1.957,2.694-2.232,4.336l-5.448,32.672l-50.016-50.016l32.664-5.448c1.645-0.273,3.164-1.053,4.344-2.232l104-104 c3.123-3.124,3.123-8.188,0-11.312l-104-104c-1.18-1.179-2.699-1.959-4.344-2.232l-32.664-5.448l50.016-50.016l5.448,32.672 c0.275,1.642,1.055,3.158,2.232,4.336l104,104c3.124,3.123,8.188,3.123,11.312,0l104-104c1.177-1.178,1.957-2.694,2.232-4.336 l5.448-32.672l50.016,50.016l-32.664,5.448c-1.645,0.273-3.164,1.053-4.344,2.232l-104,104c-3.123,3.124-3.123,8.188,0,11.312 l104,104c1.18,1.179,2.699,1.959,4.344,2.232l32.664,5.448l-50.016,50.016L351.886,374.678z M399.998,460.686l-36.688-36.688 l60.688-60.688l36.688,36.688L399.998,460.686z"></path> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
<h3 style="margin-bottom:0px;margin-left:10px;text-transform:capitalize;font-weight: 600;">Cables Glands Lugs</h3>
</div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div>
</div>


<div class="wpb_wrapper text-center container mt-5 bg-light"><h2 class="boc_heading center boc_animate_when_almost_visible boc_left-to-right boc_start_animation" style="margin-bottom: 50px;margin-top: 0px;color: #333333;"><span>Brands in which we deal</span></h2></div>
<div class="row mt-5" >
    <div class="col-sm-12 ">
        <div class="container mt-2" style="text-align: center;">
            <!-- Team Member Image -->
           

            <div class="container member-details">
                <img class="img-fluid img-thumbnail"  src="images/pdCorpImages/Cables.png" ></img>
            </div>
        </div>
    </div>
  
</div>

<%- include("../partials/footer") %>